<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.demo.mapper.DemoMapper">

    <select id="showDemo" resultType="com.spring.demo.domain.Demo">
        select * from demo where 1 = 1
    </select>

</mapper>